@font-face{
    font-family: cache;
    src: url();
}

/*      Yellow      #FFF33B
		Red         #E93E3A
	Orange      	#F3903F
	Yellow Orange	#FDC70C
	Blue	        #2361a3
    */


/* Small/Phone View ***************/


nav {
	 margin-top: 0px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
    display: none;
    font-family: Arial, Helvetica, sans-serif;

}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	
	font-weight: 700;
}
.navigation a:hover {
	color: #000000;
    border-style: solid;
    border-width: 1px;
    
    
}
nav ul li.active a {
    border-style: solid;
    border-width: 1px;
   
   
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;





}
/* footer and below */
.social img {
    height: 30px;
    float: right;
    margin: 5px;
    }

footer {
    text-align: center;
}


	/* hidden cities */

  