@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/*      Purple      #662D91
		Tan         #F9DC94
	    Blue     	#262262
	
    */


/* Small/Phone View ***************/
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;  
}

 main, header, footer {
     margin: 0 auto;
     max-width: 90%
 }
nav {
	 margin-top: 0px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
    display: none;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;

}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
    color: #262262;
	
	font-weight: 700;
}
.navigation a:hover {
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
    
    
}
nav ul li.active a {
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
   
   
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}


h2{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #262262;
    box-shadow: 5px 10px 30px 1px #888888;
    text-align: center;
    padding: 10px;
    border-radius: 20px;

}

p {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #262262;  
}

#logo{
    margin: 0 auto;
    display: block;
    max-width: 150px;

}
#heroimage{
    margin: 0 auto;
    display: block;
    max-width: 400px;
}

#heroimage picture img {
    margin: 10px;
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
    max-width: 100%;
    margin: 0 auto;
}

#purpose {
    text-align: center;
    line-height: 30px;
}

.upcomingevents{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #262262; 
    margin-top: 30px;
}

#calltoaction {
background-color: #662D91;
border-radius: 20px;
background-image: url(https://github.com/danmaj33/danreeves.github.io/blob/master/Final/Home/images/calltoaction.jpg?raw=true);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
text-decoration: none;
margin-bottom: 40px;
margin-top: 40px;
box-shadow: 5px 10px 30px 1px #888888;

}


#calltoaction h3 {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
   
   
}

.threeday, .stats{
    margin: 0 auto;
    text-align: center;
    line-height: -3px;
}

#divday1, #divday2, #divday3 {
    margin-top: 10px;
    border: black;
    border-style: solid;
    border-width: 1px 0px;
   
}

#divday1 img, #divday2 img, #divday3 img {
   margin: -10px;
   width: 75px;
}

#threeads{
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
}

#threeads img {
    align-self: center;
    margin: auto;
}

#contact{
    text-align: center;
    margin: 0 auto;
}
/* footer and below */
.social{
    
    margin: auto;
}
.social img {
    height: 30px;
    margin: 5px;
    box-shadow: 5px 10px 30px 1px #888888;
    margin: auto;
    }

footer {
    text-align: center;
    margin: 20px;
   font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #262262;
    padding: 30px;
    margin: auto;
}


	/* hidden cities */

  