@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) and (max-width: 959px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}


	main, header, article, footer, nav {
		width: 90%;
	}
	article {
		display: block;
		background-color:#fdc90c46;
		margin: 0 auto;
		border: 2px solid#FDC70C;
		font-family: 'Averia Libre', cursive;
		color: #2361a3;
	 	border-radius: 10px;
		margin-top: 20px;
		
		}

		article p, article h2{
			margin: 0 auto;
			color: #2361a3;
			max-width: 100%;
			padding: 10px;
		}

	

		

		h2 {text-align:center;
		
		}


		main {
			max-width: 100%;
		  margin: 0 auto;
			border:1px solid #bbb;
		  background-color: #eee;
		}
		
		.cards {
		  display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			max-width: 100%;
			margin: 0 auto;
		}
	  
		section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	  }

		.cards section:nth-of-type(3){
			grid-column: span 2;
			grid-row: 2;
			

		}
		.cards section:nth-of-type(1){
			grid-column: span 2;
			grid-row: 3;

		}

		.cards section:nth-of-type(1) img {
        grid-column: 1;

		}

		.cards section:nth-of-type(1) div {
			grid-column: 2;
	}
			



		.cards section:nth-of-type(2){
			grid-column: span 2;
			grid-row: 1;	

		}
		
		.cards section:nth-child(3) div {
			
			margin-bottom: 30px;
			}

			.cards section:nth-of-type(3) div {
				grid-column: 1;
		
				}
				.cards section:nth-of-type(3) img{
					grid-column: 2;
			
					}
		.cards section img {
			margin-bottom: -100px;
			margin-top: 50px;
			border-radius: 10px;
			width: 70%;
			align-self: baseline;
		
	}


		

	/* hidden cities */
	
}