@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/*      Purple      #662D91
		Tan         #F9DC94
	    Blue     	#262262
	
    */


/* Small/Phone View ***************/


nav {
	 margin-top: 0px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
    display: none;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;

}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
    color: #262262;
	
	font-weight: 700;
}
.navigation a:hover {
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
    
    
}
nav ul li.active a {
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
   
   
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}


h2{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #262262;

}
/* footer and below */
.social img {
    height: 30px;
    float: right;
    margin: 5px;
    }

footer {
    text-align: center;
}


	/* hidden cities */

  