@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/* Media Query for large+ views */
@media only screen and (min-width: 960px) {

	

	#logo{
		float: left;
		position: relative;
		max-width: 200px;
		margin-right: 20px;
	}
	
	
	nav {
		background-color:white;
		border-radius: 10px;
		margin: 0 auto;
	}

	.navigation {
		display: inline-flex;
		
		
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
		margin-top: 80px;
		padding: 5px;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

	#heroimage{
		margin: 0 auto;
		display: block;
		max-width: 900px;
	}

	#heroimage picture img {
		margin: 10px;
		box-shadow: 5px 10px 30px 1px #888888;
		border-radius: 20px;
		max-width: 100%;
	}
	
	header, footer, main{
		max-width: 900px;
		margin: 0 auto;
	}

	/* Create two equal columns that floats next to each other */

	
}