
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Calistoga&display=swap');

header {
  width: auto;  
padding: 20px;
 background-color: rgb(56, 221, 221);
 border-radius:  20px 5px 5px 20px;
 grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}


h1,h2,li,footer {
    font-family: 'Averia Sans Libre', cursive;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(57, 59, 63);
}
h2{
    text-decoration: underline;
}


#headermain{
Width:600px
}

#coverpicture {
grid-column: 3;
grid-row: 3;
margin-top: -100px;
width: 30%;
margin-left: 30%;
margin-bottom: 20px;
border-radius: 5px;
box-shadow: 5px 5px 6px;

}

ul{
    grid-column: 1;
    grid-row: 3; 
}

body {
    width:auto;
    margin: 10%;
    display: grid;
    grid-template-columns: 4/4;
    grid-template-rows: 4/4;
    background-color: rgb(220, 242, 250);
}

footer {
    grid-column: 1/4;
    grid-row: 4/4;
    padding: 20px;
    background-color:rgb(0, 217, 255);
    border-radius:   20px 5px 5px 20px;
    text-align: center;
   
}
footer p{
    font-size: 20px;
}
#timeanddate{
    font-size: 15px;  
}