


header {
  width: auto;  
padding: 20px;
 background-color: rgb(17, 136, 23);
 border-radius: 15px;
 grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}
#headermain{
Width:600px
}
#coverpicture {
grid-column: 3;
grid-row: 3;
margin-top: -100px;
width: 30%;
margin-left: 300px;
margin-bottom: 20px;

}

ul{
    grid-column: 1;
    grid-row: 3; 
}

body {
    width:auto;
    margin: 10%;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
}

footer {
    grid-column: 1/4;
    grid-row: 4/4;
    padding: 20px;
    background-color:darkorange;
    border-radius: 15px;
    text-align: center;
   
}
footer p{
    font-size: 20px;
}