
body{
    background-color:rgb(128, 173, 209);

}

h1{
    text-align: center;
    color: rgb(117, 117, 180);
    font-family: 'Rock Salt', cursive;
}


img{
    display: block;
    margin: 0 auto;
}

p{
    text-align: center;
}

a{
    color: rgb(117, 117, 180);
    font-family: 'Rock Salt', cursive;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}