h1{
    text-align: center;
    color: Yellow;
    font-family: 'Jura', sans-serif;
}


img{
    display: block;
    margin: 0 auto;
}

p{
    text-align: center;
}

a{
    color: Yellow;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}