@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Rock+Salt&display=swap');

/* Media Query for large+ views */
@media only screen and (min-width: 60em) {

	header, footer, nav {
		max-width: 1000px;
    	margin: 0 auto;
	}
	.contentbox , .fiveday, .articlebox, .herobox, .contactbox, .galleryhrd {
		display: block;
		background-color:#fdc90c46;
		margin: 0 auto;
		border: 2px solid#FDC70C;
		padding: 15px;
		font-family: 'Averia Libre', cursive;
		color: #2361a3;
	 	max-width: 960px;
		border-radius: 10px;
		
		}
	
	#bannertext {
		display: block;
		background-color: #E93E3A;
		color: beige;
		font-family: 'Averia Libre', cursive;
		font-size: 1em;
		width: 100%;
		padding: .5em;
		text-align: center;
	}
	
	header {
		background-color: #2361a3;
		padding-bottom: 2.5%;
		margin-bottom: 20px;
		border-radius: 10px;
	   
	}
	
	#bannertext.notfriday{
		display: none;
	}
	nav {
		background-color:#F3903F;
		border-radius: 10px;
		margin-top: -16px;
	}

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.herodiv img {
        display: block;
		max-width: 100%;
    	margin: 0 auto;
   }
	.stats {
	font-family: 'Averia Libre', cursive;
    position: absolute;
    top: 15px;
    left: 15px;
    height: 200px;
    background-color: #1c263F99;
    color: white;
    border: 1px solid black;
    padding: 3rem;
    box-shadow: 0 0 30px #777;
	}
	.stats h2{
		margin-top: -40px;
	}
	.stats h2, .stats p{
		margin-left: -30px;
	}
	
	.stats div{
		text-align: center;
		margin-right: -20px;
		margin-top: -35px;
		margin-left: -30px;
	}
	
	#articleimg {
   display:block;
   float:right;
   margin-top: -25px;
  
	}
	
	.fiveday{
	 
	 display: block;
	 margin-top: 20px;
	}
	h3 {
		color: #F3903F;
	}

	.fivedaycontainer{
		display: flex;
	 margin-top: -50px;	
	}
	.fivedaycontainer div{
		display: block;
		margin:auto;
		border-radius: 10px;
		padding: 10px;
		width: 100px;
		height: 200px;
		background-color:#fdc90c2f;
		box-shadow: 2px 2px 10px black inset;
		
	}

	#Day1,
	#Day2,
	#Day3,
	#Day4,
	#Day5 {
		display:inline;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
		height: 150px;
		margin-top: -80px;
		
		
	}
	
	#daydesc1,
	#daydesc2,
	#daydesc3,
	#daydesc4,
	#daydesc5{
		margin-top: -10px;
		text-transform: capitalize;
	}

	.contactbox{
		display: block;
		margin-top: 30px;
	}
	
	.map {
		
		width: 250px;
		float: right;
		margin-top: -270px;
		}
	
        
    .social {
            margin-top: 60px;
            margin-bottom: 20px;
            display: block;
			
        }
    
     .social img {
               width: 35px;
    }
	
footer {
    background-color: #2361a3;
    padding: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    font-family: 'Averia Libre', cursive;
    color: beige;
    
}

/* Gallery Page>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.gallery{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;  
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 5px;
	grid-auto-flow: dense;
    justify-content: center;
    background-color:#fdc90c46;
    margin: 0 auto;
    border: 2px solid#FDC70C;
    padding: 15px;
    font-family: 'Averia Libre', cursive;
    color: #2361a3;
    max-width: 960px;
    border-radius: 10px;
	

}
.gallery img {
width: 100%;
max-width: 281px;
border-radius: 10px 10px 0px 0px;
}

figure{
	box-shadow: 2.5px 5px 4px #c0c0c0;	
	
}
figure :hover{
	box-shadow: 5px 10px 8px #888888;
	}

.gallerimg1 {
grid-column: 1/2;
grid-row: 1/2;
}
.gallerimg2 {
	grid-column: 2/3;
	grid-row: 1/2;
	}
	.gallerimg3 {
		grid-column: 3/4;
		grid-row: 1/2;
		}

		figcaption {
			color: #F3903F;
			font-family: 'Averia Libre', cursive; 
			background-color: rgb(255, 255, 255);
			margin-top: -5px;
			padding-top: 5px;
			padding-bottom: 5px;
			box-shadow: 2.5px 5px 4px #c0c0c0;
		}
}