@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/*      Purple      #662D91
		Tan         #F9DC94
	    Blue     	#262262
	
    */


/* Small/Phone View ***************/

.collapsible {
    
    color: #262262;
    cursor: pointer;
    padding: 18px;
    max-width: 100%;
    border: none;
    text-align: Center;
    outline: none;
    font-size: 15px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;  
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
    margin-bottom: 10px;
    
  }
  
  .collapsible .active, .collapsible:hover {
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border-radius: 20px;
  }
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;  
}

.weatheralert{
    margin: auto;
    max-width: 900px;
    text-align: center;
    
}

.weatheralert p{
    color: red;
}

 main, header, footer {
     margin: 0 auto;
     max-width: 90%
 }
nav {
	 margin-top: 0px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
    display: none;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;

}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
    color: #262262;
	
	font-weight: 700;
}
.navigation a:hover {
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
    
    
}
nav ul li.active a {
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
   
   
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}


h2{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #262262;
    box-shadow: 5px 10px 30px 1px #888888;
    text-align: center;
    padding: 10px;
    border-radius: 20px;

}

p {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #262262;  
}

#logo{
    margin: 0 auto;
    display: block;
    max-width: 150px;

}
#heroimage{
    margin: 0 auto;
    display: block;
    max-width: 400px;
}

#heroimage picture img {
    margin: 10px;
    box-shadow: 5px 10px 30px 1px #888888;
    border-radius: 20px;
    max-width: 100%;
    margin: 0 auto;
}


footer {
    text-align: center;
    margin: 20px;
   font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #262262;
    padding: 30px;
    margin: auto;
}

.formwrap, form, fieldset, input, button {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 20px;
  }
  input {
    padding: 3px;
  }
  label {
    margin-bottom: 5px;
  }

  fieldset {
    box-shadow: 5px 10px 30px 1px #888888;
  }

  .level {
    background-color: #662d9121;
  }
      
  .thankyou p {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
  }
          
          

  