@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Rock+Salt&display=swap');

/*      #FFF33B
		#E93E3A
		#F3903F
		#FDC70C
		#2A91FF*/


/* Small/Phone View ***************/
header {
    background-color: #2A91FF;
    padding-bottom: 2.5%;
    margin-bottom: -20px;
    max-width: 960px;
    margin: 0 auto;
    border-radius: 10px;
}
#logo {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    margin-bottom: -15%;
   
}
h1 {
   
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    font-family:'Rock Salt', cursive;
    color: #FDC70C;
}

nav {
	margin: 0 auto;
	max-width: 960px;
    background-color:#F3903F;
    border-radius: 10px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
    display: none;
    font-family: 'Averia Libre', cursive;
    
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: 700;
}
.navigation a:hover {
	color: white;
    background-color: black;
    border-radius: 10px;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
.contentbox{
    display: block;
    background-color:white;
    margin: 0 auto;
    border: 1px solid black;
    padding: 15px;
    font-family: 'Averia Libre', cursive;
}

footer {
    background-color: #2A91FF;
    /* padding-bottom: 2.5%;
    margin-bottom: -20px; */
    max-width: 960px;
    margin: 0 auto;
    border-radius: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.prestonfooter, a {
    font-family: 'Averia Libre', cursive;
    color: beige;
    text-decoration: none;
}