@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) and (max-width: 959px) {
	.navigation {
		display: flex;
		margin-left: 60px;
		
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
		
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}


	main, header, article, footer, nav {
		width: 90%;
	}
	#heroimage{
		margin: 0 auto;
		display: block;
		max-width: 90%;
	}
	#heroimage picture img {
		margin: 10px;
		box-shadow: 5px 10px 30px 1px #888888;
		border-radius: 20px;
	}
	
	.portfolio-item {
		grid-row: span 2;
      grid-column: span 2;
	}


		

	
	
}