@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) and (max-width: 959px) {
	.navigation {
		display: flex;
		margin-left: 60px;
		
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
		
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}


	main, header, article, footer, nav {
		width: 90%;
	}
	#heroimage{
		margin: 0 auto;
		display: block;
		max-width: 90%;
	}
	#heroimage picture img {
		margin: 10px;
		box-shadow: 5px 10px 30px 1px #888888;
		border-radius: 20px;
	}
	
	.mosaic {
		font-size: 1.2rem;
		line-height: 1.45;
		display: flex;
		flex-wrap: wrap;
	}
	
	.main-content {
		padding: 10px;
		flex: 1 1 80%;
		min-height: 100vh;
		flex-wrap: wrap;
	  
	  }
	  
	  
	  
	 
	  .portfolio {
		display: block;
		height: 100%;
		grid-template-rows: repeat(8, 1fr);
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 20px;
		flex-wrap: wrap;
	  }
	  
	  .portfolio-item {
		background: red;
		color: red;
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5em;
		background-size: cover;
		background-position: top left;
		transition: all ease-in-out 300ms;
		position: relative;
		z-index: 10;
		
		}
		.portfolio div{
			padding: 10px;
			border-radius: 20px;
			box-shadow: 5px 10px 30px 1px #888888;
			background-color: white;
			font-family: 'Barlow Condensed', sans-serif;
			letter-spacing: 2px;
			margin-top: 20px;
			
		}
	
}