@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Rock+Salt&display=swap');

/* Media Query for large+ views */
@media only screen and (min-width: 960px) {


	header {
		background-color: #2361a3;
		padding-bottom: 2.5%;
		margin-bottom: -20px;
		border-radius: 10px;
	   
	}
	#logo {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		margin: auto;
		max-width: 462px;
		margin-bottom: -100px;
	   
	}
	
	
	nav {
		background-color:#F3903F;
		border-radius: 10px;
		margin-top: -16px;
	}

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	
	header, footer, nav, main {
		max-width: 1000px;
    	margin: 0 auto;
	}

	.cards {
		display: flex;
		
	}
	.cards section {
		display: inline-block;
		background-color:#fdc90c46;
		margin: 0 auto;
		margin-left: 5px;
		border: 2px solid#FDC70C;
		padding: 15px;
		font-family: 'Averia Libre', cursive;
		color: #2361a3;
	 	max-width: 275px;
		border-radius: 10px;
		height: 384px;
		margin-top: 20px;
		overflow: auto;
		flex: 1 1 auto;
		
		}
	
		.cards section img {
			max-width: 100%;
			margin-top: 0 auto;
		}
	footer {
    background-color: #2361a3;
    padding: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    font-family: 'Averia Libre', cursive;
    color: beige;
    }




	/* hidden cities */
	section:nth-of-type(1) {
		display: none;
	  }
	  section:nth-of-type(3) {
		display: none;
	  }
	  section:nth-of-type(4) {
		display: none;
	  }
	  section:nth-of-type(5) {
		display: none;
	  }
}