@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Rock+Salt&display=swap');

/* Media Query for large+ views */
@media only screen and (min-width: 960px) {


	header {
		background-color: #2361a3;
		padding-bottom: 2.5%;
		margin-bottom: -20px;
		border-radius: 10px;
	   
	}
	#logo {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		margin: auto;
		max-width: 462px;
		margin-bottom: -100px;
	   
	}
	
	
	nav {
		background-color:#F3903F;
		border-radius: 10px;
		margin-top: -16px;
	}

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	
	header, footer, nav, main, article {
		max-width: 1000px;
    	margin: 0 auto;
	}

	article p {
		padding: 30px;
	}

	.cards {
		display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		background-color:#fdc90c46;
		border: 2px solid#FDC70C;
		font-family: 'Averia Libre', cursive;
		color: #2361a3;
		width: 100%;
		border-radius: 10px;
		margin-top: 20px; 
		text-align: center;
		justify-content: center;
		height: 450px;
		}

		.cards section {
			display: inline-block;
			width: 300px;
			height: 400px;
			margin-top: 20px;
			
			
		}

		.cards section div {
			
			margin: 0 auto;
			
		}

		.cards section img {
			
			height: 250px;
		}

	footer {
    background-color: #2361a3;
    padding: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    font-family: 'Averia Libre', cursive;
    color: beige;
    }




	/* hidden cities */
	
	 
	
}