@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Rock+Salt&display=swap');

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

	.cards section {
		display: block;
		background-color:#fdc90c46;
		margin: 0 auto;
		margin-left: 5px;
		border: 2px solid#FDC70C;
		padding: 15px;
		font-family: 'Averia Libre', cursive;
		color: #2361a3;
	 	max-width: 500px;
		border-radius: 10px;
		margin-top: 20px;
		overflow: auto;
		
		
		}

		
		
	
		.cards section img {
			display: inline-block;
			max-width: 50%;
		}
	

	/* hidden cities */
	section:nth-of-type(1) {
		display: none;
	  }
	  section:nth-of-type(3) {
		display: none;
	  }
	  section:nth-of-type(4) {
		display: none;
	  }
	  section:nth-of-type(5) {
		display: none;
	  }
	}