/* Media Query for large+ views */
@media only screen and (min-width: 60em) {



.cards {
    display: flex;
   flex-wrap: wrap;
}

section {
display: block; /* change state in small view */
flex: 1 1 auto;
margin: 0 auto;
background-color: rgb(160, 160, 160);
padding: 10px;
width: 335px;
height: 450px;


}

img {
width: 275px;
display: block;
margin: 0 auto;
box-shadow: 5px 5px 5px black;
}

h2, p, h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;

    }
h2, h1 {
    color: blue;
}

}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {

    .cards {
        display: flex;
       flex-wrap: wrap;
    }
    
    section {
    display: block; /* change state in small view */
    flex: 1 1 auto;
    margin: 0 auto;
    background-color: rgb(160, 160, 160);
    padding: 10px;
    width: 335px;
    height: 450px;
    
    
    }
    
    img {
    width: 275px;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px black;
    }
    
    h2, p, h1 {
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
    
        }
    h2, h1 {
        color: blue;
    }
    
    


}


/* Small/Phone View ***************/
.cards {
    display: flex;
   flex-wrap: wrap;
}

section {
display: block; /* change state in small view */
flex: 1 1 auto;
margin: 0 auto;
background-color: rgb(160, 160, 160);
padding: 10px;
width: 335px;
height: 450px;


}

img {
width: 275px;
display: block;
margin: 0 auto;
box-shadow: 5px 5px 5px black;
}

h2, p, h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;

    }
h2, h1 {
    color: blue;
}

footer {
    display: block;
    text-align: center;
   padding: 20px;
    background-color: burlywood;
}
