@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@media  screen and (min-width: 990px) {
    


h1 , h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

p, li a {
    font-family: Arial, Helvetica, sans-serif;
}

.post-date {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

body div{
    display: flex;
}

header {
    background-color: #6495ED;
    
    margin: 0px;
    text-align: right;
    padding: 40px;
    max-width: 25%;
}

main {
    background-color: #faebd7;
    max-width: 75%;
   
    
}

article {
    text-align: left;
    background-color: white;
    margin: auto;
    padding:30px;
    margin: 50px;
    box-shadow: 2px 2px lightgray;

}

article figure img {
   margin: 0 auto;
}

figure {
    align-content: center;
    display: flex;
    margin-top: 50px;
}
/* Navigation */

ul {
    list-style: none;
}
nav li a, nav li a:visited, h1 a, h1 a:visited  {
color: #faebd7;
text-decoration: none;
}

nav li a:hover, h1 a:hover{
    color: white;
    text-decoration: underline;
}

nav li a:active, h1 a:active{
    color: #deb887;  
}
/* other links */

p a, p a:visited  {
    color: #6495ed;
    text-decoration: none;
    }
    
    p  a:hover{
        
        text-decoration: underline;
    }
    
    p a:active{
        color: #deb887;  
    }

/* article title links */
.post-content h2 a, .post-content h2 a:visited  {
    color: black;
    text-decoration: none;
    }
    
    .post-content h2 a:hover{
        color: #6495ed;
        text-decoration: underline;
    }
    
    .post-content h2 a:active{
        color: #deb887;  
    }
}

@media  screen and (max-width: 989px) {


    h1 , h2, h3, h4, h5, h6 {
        font-family: 'Lora', serif;
      }
      
      p, li a {
          font-family: Arial, Helvetica, sans-serif;
      }
      
      .post-date {
          font-family: Arial, Helvetica, sans-serif;
          color: grey;
      }
      
      body div{
          display: block;
      }
      
      header {
          background-color: #6495ED;
          
          margin: 0px;
          text-align: right;
          padding: 40px;
          
      }
      
      main {
          background-color: #faebd7;
          padding: 10px;
       
         
          
      }
      
      article {
          text-align: left;
          background-color: white;
          margin: auto;
          padding:30px;
          margin: 20px;
          box-shadow: 2px 2px lightgray;
      
      }
      
      article figure img {
         margin: 0 auto;
         width: 100%;
         max-width: 250px;
      }
      
      figure {
          align-content: center;
          display: flex;
          margin-top: 50px;
      }
      /* Navigation */
      
      ul {
          list-style: none;
      }
      nav li a, nav li a:visited, h1 a, h1 a:visited  {
      color: #faebd7;
      text-decoration: none;
      }
      
      nav li a:hover, h1 a:hover{
          color: white;
          text-decoration: underline;
      }
      
      nav li a:active, h1 a:active{
          color: #deb887;  
      }
      /* other links */
      
      p a, p a:visited  {
          color: #6495ed;
          text-decoration: none;
          }
          
          p  a:hover{
              
              text-decoration: underline;
          }
          
          p a:active{
              color: #deb887;  
          }
      
      /* article title links */
      .post-content h2 a, .post-content h2 a:visited  {
          color: black;
          text-decoration: none;
          }
          
          .post-content h2 a:hover{
              color: #6495ed;
              text-decoration: underline;
          }
          
          .post-content h2 a:active{
              color: #deb887;  
          }

}