@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Rock+Salt&display=swap');

/* Media Query for large+ views */
@media only screen and (min-width: 60em) {

	#bannertext {
		display: block;
		background-color: #E93E3A;
		color: beige;
		font-family: 'Averia Libre', cursive;
		font-size: 1em;
		width: 100%;
		padding: .5em;
		text-align: center;
	}
	
	#bannertext.notfriday{
		display: none;
	}

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.heroimg {
	display:block;
	margin: auto;
	
	
	}
	.stats {
		border-radius: 150px;
		width: auto;
	}

	#articleimg {
   display:block;
   float:right;
   margin-top: -15px;
	}
	
	.fiveday{
	 
	 display: block;
	}

	.fivedaycontainer{
		display: flex;
		
	}
	.fivedaycontainer div{
		display: block;
	}

	#Day1,
	#Day2,
	#Day3,
	#Day4,
	#Day5 {
		display:inline;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
		height: 150px;
		
	}
	main {
		max-width: 960px;
	}
}