@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Rock+Salt&display=swap');

/* Media Query for large+ views */
@media only screen and (min-width: 60em) {

	#bannertext {
		display: block;
		background-color: #E93E3A;
		color: beige;
		font-family: 'Averia Libre', cursive;
		font-size: 1em;
		width: 100%;
		padding: .5em;
		text-align: center;
	}
	
	#bannertext.notfriday{
		display: none;
	}

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.herodiv img {
	display:block;
	margin: auto;
	width: 800px;
	
	
	}
	.stats {
	font-family: 'Averia Libre', cursive;
    position: absolute;
    top: 15px;
    left: 15px;
    height: 175px;
    background-color: #1c263F99;
    color: white;
    border: 1px solid black;
    padding: 3rem;
    box-shadow: 0 0 30px #777;
	}

	#articleimg {
   display:block;
   float:right;
   margin-top: -15px;
	}
	
	.fiveday{
	 
	 display: block;
	}

	.fivedaycontainer{
		display: flex;
		
	}
	.fivedaycontainer div{
		display: block;
		margin-left: auto;
	}

	#Day1,
	#Day2,
	#Day3,
	#Day4,
	#Day5 {
		display:inline;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
		height: 150px;
		
	}
	main {
		max-width: 960px;
	}
	.contactinfo {
    display:flex;
	margin-left: auto;
		margin-right: auto;
	}
	
	
	.contactbox{
		display: flex;
		
		margin-top: 30px;
	}
	.map{
		display:inline-block;
		width: 250px;
		margin-left: 200px;
		
		
	}
	
        
    .social {
            margin-top: 60px;
            margin-bottom: 20px;
            display: block;
			margin-left: -220px;
        }
    
     .social img {
               width: 35px;
    }
}